#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 헤더 디자인 */
.header{
  background: black;
}
.header ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem;
}
.header a{
  text-decoration: none;
  color : white;
  font-weight: bold;
}

/* hover시 효과 */
.header a:hover{
  text-decoration: underline;
}

.home-carousel-img{
  height: 25rem;
  object-fit: contain;
}